.boton12{
    width: 95%;
}

.center{
    align-items: center;
    text-align: center;
}

.tab{
    width: 100%;
}

.nopag{
    text-align: center;
    font-size: 90px;
    top: 50%;
    -ms-transform: translateY(+50%);
    transform: translateY(+400%);
}