.passwordBox{
    /*display: inline;*/
}
.passwordButtonGo{
    background-color: #e08070;
    border: 0;
    border-radius: 10px;
    width: 50px;
    height: 40px;
}

.tabla{
    width: 100%;
    border: 1;
    border-color: aquamarine;
    align-items: center;
}

.celda{
    text-align: center;
    align-self: center;
    align-content: center;
}