.a{
    top: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

.target{
    border-radius: 25px;
    margin: 10px;
    background-color: #ab6ddb3e;
}

.passwordBox{
    /*display: inline;*/
}
.passwordButtonGo{
    background-color: #e08070;
    border: 0;
    border-radius: 10px;
    width: 50px;
    height: 40px;
}

.tabla{
    width: 100%;
    border: 1;
    border-color: aquamarine;
    align-items: center;
}

.celda, .celdaHide, .celdaNotHide{
    text-align: center;
    align-self: center;
    align-content: center;
}
.celdaHide{
    background-color: #ab6ddb;
    border-radius: 5px;
    color: #ab6ddb;
}
.celdaNotHide{
    background-color: #caa3e9;
    border-radius: 5px;
    color: #9000ff7a;
}
.boton12{
    width: 95%;
}

.center{
    align-items: center;
    text-align: center;
}

.nopag{
    text-align: center;
    font-size: 90px;
    top: 50%;
    -ms-transform: translateY(+50%);
    transform: translateY(+400%);
}

.hideShow{
    font-family: 'Courier New', Courier, monospace;
}